body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    flex-direction: column;
}


#game{
    display: flex;
}

.square{
    width: 250px;
    height: 250px;
    border: 1px solid black;
}

.black{
    background-color: rgba(0, 0, 0, 0.5);
}

.highlight{
    background-color: rgba(233, 102, 102, 0.5);
}

.target{
    border: 10px solid red;
    box-sizing: border-box;
}

#knight{
    height: 100%;
}

#info{
    margin-top: 5px;
    height: 150px;
}